<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-6">
          <h3>Admin | Categories</h3>
        </div>
        <div class="col-lg-6 text-right">
          <%= link_to "Add Word", new_admin_category_word_path(category_id: @category.id), class: 'btn btn-info' %>
          <%= link_to "Back", admin_categories_path, class: 'btn btn-link' %>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Words</th>
          <th>Lesson Words</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @word.each do |word| %>
          <tr>
            <td><%= word.content %></td>
            <td><%= word.correct_word_answer.content%></td>
            <td>
              <%= link_to "Edit", edit_admin_category_word_path(category_id: @category.id, id: word.id), class: 'btn btn-outline-info' %>
              <%= link_to "Remove", admin_category_word_path(@category, word), method: :delete , class: 'btn btn-outline-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
